* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display";
}

main {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.vertical-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.line-1 .border,
.line-2 .border {
  height: 3rem;
  width: 1px;
  border: 1px solid #87879d;
  opacity: 25%;
  top: 2rem;
}

.line-1 .circle-line,
.line-2 .circle-line {
  border-radius: 50%;
  border: 1px solid #bebecf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  width: 40px;
  height: 40px;
}

.line-2 .circle-line {
  background-color: white;
  z-index: 10;
}

.banner-left {
  flex-basis: 33.33%;
  display: block;
}

.banner-left img,
.banner-right img {
  width: 100%;
}

.banner-img-tablet {
  display: none;
}

.banner-center {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 36px;
  gap: 24px;
  text-align: center;
}

.banner-center h1 {
  font-size: 60px;
}

.banner-center p {
  font-size: 20px;
}

.banner-right {
  flex-basis: 33.33%;
  display: block;
}

button {
  border-radius: 2em;
  padding: 1em 2em;
}

.banner-btn .download-btn {
  background-color: #71c0d4;
  border: 1px solid #71c0d4;
  font-weight: 600;
  color: white;
  margin: 12px;
}

.download-btn span {
  color: #8fe3f9;
}

.details-btn {
  background-color: #855fb1;
  border: 1px solid #855fb1;
  font-weight: 600;
  color: white;
}

.gallery {
  margin: 10% 10% 0;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  gap: 16px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 4px;
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 30%;
}

.features .object-features {
  color: #4d96a9;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1em;
  margin: 3em 0 0.5em;
}

.features .benefit-features {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0 0 0.5em;
}

.features .description-features {
  font-size: 1.2em;
  margin-bottom: 1em;
}

footer {
  background-image: url("assets/desktop/image-footer.jpg"),
    linear-gradient(#4d96a9, #4d96a9);
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10rem;
  margin-top: 4em;
}

footer .footer-feature-1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  flex-basis: 18%;
  color: white;
}

footer .footer-feature-2 {
  text-align: center;
  font-size: 1.2em;
  flex-basis: 33.33%;
  color: white;
}

footer .download {
  text-align: center;
  font-size: 1.2em;
}

footer .download .download-btn {
  color: white;
  background-color: #855fb1;
  border: 1px solid #855fb1;
  font-weight: 600;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .banner-left,
  .banner-right {
    display: none;
  }
  .banner-img-tablet {
    display: block;
  }

  .banner-img-tablet img {
    width: 100%;
  }

  .banner-center h1 {
    font-size: 48px;
  }

  .gallery {
    margin: 15% 5%;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em 4em;
    background-image: url("assets/tablet/image-footer.jpg"),
      linear-gradient(#4d96a9, #4d96a9);
  }

  footer .footer-feature-1 {
    flex-basis: 33.33%;
    font-size: 1.5rem;
    padding-top: 1em;
  }

  footer .footer-feature-2 {
    flex-basis: 33.33%;
    font-size: 1rem;
    padding-top: 1em;
  }

  footer .download {
    flex-basis: 33.33%;
    padding-top: 1em;
  }
}

@media (max-width: 576px) {
  .banner {
    margin-bottom: 1em;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, auto) !important;
  }

  .banner-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    margin: 40% 10%;
  }

  .features {
    margin: 0 24px;
  }

  .features .benefit-features {
    font-size: 1.5em;
  }

  footer {
    background-image: url("assets/mobile/image-footer.jpg"),
      linear-gradient(#4d96a9, #4d96a9);
    padding: 1em 4em;
  }
}
